.nav_nav{
    background-color: #071733f5;
}

.btn1{
    background-color: transparent;
    border-radius: 0.5rem;
    border: 1px solid white;
    color: white;
}
.btn1:hover{
    background-color: white;
    color: black;
    transition: 0.3s ease-in-out;
}