
<!-- Welcome text -->
<div class="welcomeText text-center lh-1">
  <h1>{{ welcomePage }}</h1>
</div>

<!-- Main -->
<div class="mainText text-center p-5 text-white">
  <h2 style="margin-top: 10rem;">This is a product catalog, feel free to view and explore!</h2>
  <p style="margin-bottom: 10rem;">
    This website is a simple product catalog and is required for an activity in
    "Application Development" using Angular.
  </p>
  <button type="button" class="btn1 btn btn-outline-light p-3 fs-3"
  routerLink="/product">
    View Products
  </button>
</div>
