.bg_main {
  background-image: url('C:/Users/natad/AngularProj/fg-lab-6/src/assets/beach.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;   /* horizontal center */
  align-items: center;       /* vertical center */
  min-height: 100vh;         /* fill full viewport height */
}

.container {
  background-color: #1e1e1e;
  color: white;
  padding: 2rem;
  border-radius: 8px;
  margin-bottom: 20rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

@media (max-width: 600px) {
  .container {
    padding: 1rem;
    max-width: 22rem;
  }
  
  h2 {
    font-size: 1.5rem;
  }
  
  p {
    font-size: 1rem;
  }
}
